body {
    font-family:  'Dosis', Helvetica, Lato, Montserrat, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 2rem 0;
}

.container {
    max-width: 400px;
}

.chat__room-buttons {
    width: 100%;
}

.chat__room-buttons span {
    font-weight: bold;
    color: yellow;
    padding-left: 3px;

}

.chat__room-buttons span:active {
    font-weight: bold;
    padding-left: 3px;
}


.chat__room-buttons button:focus:active {
    box-shadow: unset;
}

.chat__room-buttons .active {
    background-color: #001c39 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    border: #001c39 !important;
}

.chat__room-buttons .active:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    /* border: none; */
}

.chat__window {
    background-color: rgb(247, 234, 234);
    padding: 1em 1em .5em;
    height: 300px;
    overflow-y: scroll;
}

.chat__window p {
    font-size: 16px;
    margin: 0;
}

.chat__window footer {
    font-size: 12px;
}

.chat__window li {
background-color: antiquewhite;
padding: 10px 20px 5px;
text-align: left;
margin: 4px auto;
}

.unique {
background-color: floralwhite !important;
border-radius: 10px;
text-align: right !important;
}

.btn-primary {
    background-color: #005abb;
    border-color: #005abb;
}

.btn-primary:hover {
    background-color: #003f84;
    border-color: #003f84;
}


