.container {
    max-width: 400px;
}

.chat__window {
    background-color: rgb(241, 241, 241);
    padding: 1em 1em .5em;
    height: 200px;
    overflow-y: scroll;
}

.chat__window p {
    font-size: 16px;
    margin: 0;
}

.chat__window footer {
    font-size: 12px;
}

.chat__room-buttons span {
    font-weight: bold;
    color: rgb(175, 175, 253);
    padding-left: 3px;
    /* position: relative;
    top: -12px;
    right: -7px; */
}

.chat__room-buttons span:active {
    font-weight: bold;
    color: yellow;
    padding-left: 3px;
    /* position: relative;
    top: -12px;
    right: -7px; */
}

.chat__room-buttons button {
    border: none !important;
}

.chat__room-buttons button:focus:active {
    box-shadow: unset;
}

.chat__room-buttons .active {
    background-color: tomato !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    border: none;
}

.chat__room-buttons .active:hover {
    background-color: rgb(241, 73, 43) !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    border: none;
}